.graph *{
  font-size:1.5rem;
}
path { 
  stroke: steelblue;
  stroke-width: 1.3;
  fill: none;
}

/*path1 {
  stroke: red;
  stroke-width: 2;
  fill: none;
}

path2 {
  stroke: green;
  stroke-width: 2;
  fill: none;
}

path3 { 
  stroke: black;
  }
 */
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 0.5;
	/*shape-rendering: crispEdges;*/
}

.name{
  font-weight:300;
  font-style:normal;
}