.text-centered{
	margin:0 auto;
}

@media (min-width: 480px) {

		.text-centered{
			padding:0 60px;
		}
	}

.section{
	padding:30px;

}


.stat-row{
	padding:10px 0;
}
.stat{
	padding:10px 0;
}
.stat-value, .stat-description{
	text-align:center;
}

.stat-value{
	font-size: 4.0rem;
	line-height:1;
	text-align:center;
	/*display:inline-block;*/

}
.stat-description{
	margin-top:0;
}

img{
	max-width:100%;
	max-height:100%;
}